/* comon shard style */
body{
    .lato-thin {
        font-family: "Lato", sans-serif;
        font-weight: 100;
        font-style: normal;
        background-color: rgb(190, 190, 190);
      }

}
/* nav relative style */
nav{
    display: flex;
    margin: 0 200px;
}
.logo{
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}
.text-primary{
    color: #FD6E0A;
}
nav > ul{
    display: flex;
    align-items: center;
  
}
nav > ul > li{
   list-style: none;
   margin-right: 50px;
   align-items: center;
}
nav > ul > li >a{
    text-decoration: none;
    color: #181818;
 }
 button > a{
    text-decoration: none;
    color: #ffffff;
 }
nav{
    align-items: center;
    justify-content: space-between;
}
/* buttorn work */
.button-primary{
    font-size: 29px;
    font-style: normal;
    border-radius: 5px;
    background-color: #FD6E0A;
    border: 0;
    padding: 15px 35px;
}
/* heder moveing */
.header{
    margin:0 200px;
    background-image: url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 750px;
}
.button-acgi{ 
    background-color: #ffffff;
    font-size: 29px;
    font-style: normal;
    border-radius: 5px;
    border: 10;
    border-color: #FD6E0A;
    padding: 15px 35px;
}.button-acgi a{ 
    background-color: #ffffff;
    color: #FD6E0A;
} 
.banner{
    display: flex;
    padding: 30px 30px 0px 150px;
}
.banner .profile-pic{
    width: 500px;
}
.banner-greeting{
    font-size: 45px;
    margin-bottom: 0;
}
.banner-heading{
    margin-top: 0;
    font-size: 85px;
    margin-bottom: 20px;
}
.banner-discription{
    font-size: 18px;
    width: 550px;
    color: rgb(170, 170, 170);
}
.profile-pic{
    margin-left: 20px;
}
/* main part */
/* main section */
/* about secton */
.about{
    margin: 200px;
    background-color: #FFFFFF;
    padding: 0 350px;
    margin-bottom: 100px;
}
.section-tittle{
    font-size: 35px;
    font-weight: 700;
    text-align: center;
}
.about-info-contanar{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-around;
}
/* spacel  socail*/
#what{
    padding: 0 550px;
    gap: 20px;
}
.skill-part{
    display: flex;
    padding: 200 200px;
    margin: 0 300px;
    gap: 6px;
   
}
.skill{
    box-shadow: 0px 6px 30px 0 rgb(0, 0, 0,0.2);
    background-color:#f5f5f5 ;
    padding: 12px;
}
.super-skill{
    margin-top: 0px;
}
/* resume section style */
.resume-part{
    color: 474747;
    font-size: 30px;
    font-weight: 700;
}
.resume-contanar{
    display: flex;
    gap: 50px;
}
.resume-item-discription{
    font-size: 12px;
}
.resume-item-tittle{
    font-size: 30px;

}
.Download-cv{
    text-align: center;
    margin-top: 50px;
}